/* LD Portable -- Tooltip */

.ld-tooltip-tooltip {
  position: fixed;
  background: #2e2f32;
  border-radius: 0.25rem;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  max-width: 15rem;
  padding: 0.375rem 0.5rem;
  pointer-events: none;
  z-index: 100;
  white-space: normal;
  word-wrap: break-word;
}

/* Transition: fade in/out */
.ld-tooltip-enter {
  opacity: 0;
}

.ld-tooltip-enterActive {
  opacity: 1;
  transition: opacity 80ms ease-in;
}

.ld-tooltip-exit {
  opacity: 1;
}

.ld-tooltip-exitActive {
  opacity: 0;
  transition: opacity 80ms ease-out;
}
