/* LD Portable – Badge */
/* Badge */
.ld-badge-badge {
  border-radius: 62.5rem;
  box-sizing: border-box;
  display: inline-block;
  height: 0.75rem;
  width: 0.75rem;
}

.ld-badge-blue {
  background: var(--ld-semantic-color-fill-accent-blue, #0053e2);
  color: var(--ld-semantic-color-text-on-fill-accent-blue, #ffffff);
}

.ld-badge-brand {
  background: var(--ld-semantic-color-fill-accent-blue, #0053e2);
  color: var(--ld-semantic-color-text-on-fill-accent-blue, #ffffff);
}

.ld-badge-brandBold {
  background: var(--ld-semantic-color-fill-accent-blue-bold, #001e60);
  color: var(--ld-semantic-color-text-on-fill-accent-blue-bold, #ffffff);
}

.ld-badge-cyan {
  background: var(--ld-semantic-color-fill-accent-cyan, #0076b3);
  color: var(--ld-semantic-color-text-on-fill-accent-cyan, #ffffff);
}

.ld-badge-edited {
  background: var(--ld-semantic-color-fill-accent-purple, #63327e);
  color: var(--ld-semantic-color-text-on-fill-accent-purple, #ffffff);
}

.ld-badge-info {
  background: var(--ld-semantic-color-fill-accent-blue, #0053e2);
  color: var(--ld-semantic-color-text-on-fill-accent-blue, #ffffff);
}

.ld-badge-gray {
  background: var(--ld-semantic-color-fill-accent-gray, #74767c);
  color: var(--ld-semantic-color-text-on-fill-accent-gray, #ffffff);
}

.ld-badge-green {
  background: var(--ld-semantic-color-fill-accent-green, #2a8703);
  color: var(--ld-semantic-color-text-on-fill-accent-green, #ffffff);
}

.ld-badge-negative {
  background: var(--ld-semantic-color-fill-accent-red, #ea1100);
  color: var(--ld-semantic-color-text-on-fill-accent-red, #ffffff);
}

.ld-badge-neutral {
  background: var(--ld-semantic-color-fill-accent-neutral, #ffffff);
  box-shadow: inset 0 0 0 0.0625rem var(--ld-semantic-color-border-accent-gray, #515357);
  color: var(--ld-semantic-color-text-on-fill-accent-neutral, #2e2f32);
}

.ld-badge-orange {
  background: var(--ld-semantic-color-fill-accent-orange, #fa6400);
  color: var(--ld-semantic-color-text-on-fill-accent-orange, #2e2f32);
}

.ld-badge-pink {
  background: var(--ld-semantic-color-fill-accent-pink, #cb2c90);
  color: var(--ld-semantic-color-text-on-fill-accent-pink, #ffffff);
}

.ld-badge-positive {
  background: var(--ld-semantic-color-fill-accent-green, #2a8703);
  color: var(--ld-semantic-color-text-on-fill-accent-green, #ffffff);
}

.ld-badge-purple {
  background: var(--ld-semantic-color-fill-accent-purple, #63327e);
  color: var(--ld-semantic-color-text-on-fill-accent-purple, #ffffff);
}

.ld-badge-red {
  background: var(--ld-semantic-color-fill-accent-red, #ea1100);
  color: var(--ld-semantic-color-text-on-fill-accent-red, #ffffff);
}

.ld-badge-spark {
  background: var(--ld-semantic-color-fill-accent-spark, #ffc220);
  color: var(--ld-semantic-color-text-on-fill-accent-spark, #2e2f32);
}

.ld-badge-teal {
  background: var(--ld-semantic-color-fill-accent-teal, #00809e);
  color: var(--ld-semantic-color-text-on-fill-accent-teal, #ffffff);
}

.ld-badge-warning {
  background: var(--ld-semantic-color-fill-accent-spark, #ffc220);
  color: var(--ld-semantic-color-text-on-fill-accent-spark, #2e2f32);
}

.ld-badge-yellow {
  background: var(--ld-semantic-color-fill-accent-yellow, #fff200);
  color: var(--ld-semantic-color-text-on-fill-accent-yellow, #2e2f32);
}

.ld-badge-hasTextLabel {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  border-radius: 62.5rem;
  height: auto;
  min-width: 1rem;
  padding: 0 0.25rem;
  text-align: center;
  white-space: nowrap;
  width: auto;
}
