/* LD Portable – Chip */
/* Chip */
.ld-chip-chip {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  align-items: center;
  background: var(--ld-semantic-color-filter-fill, #ffffff);
  border: 0;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 0.0625rem var(--ld-semantic-color-filter-border, #2e2f32);
  box-sizing: border-box;
  color: var(--ld-semantic-color-filter-text-on-fill, #2e2f32);
  cursor: pointer;
  display: inline-flex;
  padding: 0 1rem;
  white-space: nowrap;
}
.ld-chip-chip:hover, .ld-chip-chip.hover {
  background: var(--ld-semantic-color-filter-fill-hovered, #f1f1f2);
  box-shadow: inset 0 0 0 0.125rem var(--ld-semantic-color-filter-border, #2e2f32);
}
.ld-chip-chip:focus, .ld-chip-chip.focus {
  background: var(--ld-semantic-color-filter-fill-hovered, #f1f1f2);
  box-shadow: inset 0 0 0 0.125rem var(--ld-semantic-color-filter-border, #2e2f32);
}
.ld-chip-chip:active, .ld-chip-chip.active {
  background: var(--ld-semantic-color-filter-fill-pressed, #e3e4e5);
  box-shadow: inset 0 0 0 0.125rem var(--ld-semantic-color-filter-border, #2e2f32);
}
.ld-chip-chip:disabled {
  background: var(--ld-semantic-color-filter-fill, #ffffff);
  box-shadow: inset 0 0 0 0.0625rem var(--ld-semantic-color-filter-border-disabled, #babbbe);
  color: var(--ld-semantic-color-filter-text-on-fill-disabled, #babbbe);
  cursor: default;
}

.ld-chip-selected {
  box-shadow: inset 0 0 0 0.125rem var(--ld-semantic-color-filter-border, #2e2f32);
}
.ld-chip-selected:hover, .ld-chip-selected.hover {
  box-shadow: inset 0 0 0 0.125rem var(--ld-semantic-color-filter-border, #2e2f32);
}
.ld-chip-selected:focus, .ld-chip-selected.focus {
  box-shadow: inset 0 0 0 0.125rem var(--ld-semantic-color-filter-border, #2e2f32);
}
.ld-chip-selected:active, .ld-chip-selected.active {
  box-shadow: inset 0 0 0 0.125rem var(--ld-semantic-color-filter-border, #2e2f32);
}
.ld-chip-selected:disabled {
  box-shadow: inset 0 0 0 0.125rem var(--ld-semantic-color-filter-border-disabled, #babbbe);
}

.ld-chip-small {
  height: 2rem;
}

.ld-chip-large {
  height: 2.5rem;
}

.ld-chip-leading {
  margin-right: 0.5rem;
}

.ld-chip-trailing {
  margin-left: 0.5rem;
}

/* ChipGroup */
.ld-chip-chipgroup-chipGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
