/* LD Portable – WCPButtonGroup */
.ld-wcp-buttongroup-group {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.ld-wcp-buttongroup-inline {
  flex-direction: row;
  align-items: center;
  gap: var(--ld-primitive-scale-space-200, 16px);
  justify-content: flex-start;
}

.ld-wcp-buttongroup-inlineFullWidth > * {
  flex: 1 0 0;
}

.ld-wcp-buttongroup-stacked {
  flex-direction: column;
  align-items: stretch;
  gap: var(--ld-primitive-scale-space-200, 16px);
}

.ld-wcp-buttongroup-stacked > * {
  width: 100%;
  align-self: stretch;
}

.ld-wcp-buttongroup-inlineRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--ld-primitive-scale-space-200, 16px);
  width: 100%;
}

.ld-wcp-buttongroup-inlineRow > * {
  flex: 1 0 0;
}
