/* LD Portable – IconButton */
/* IconButton */
.ld-iconbutton-iconButton {
  border: 0;
  cursor: pointer;
  display: inline-flex;
  padding: 0.5rem;
}

.ld-iconbutton-xsmall {
  padding: 0.25rem;
}

.ld-iconbutton-defaultColor {
  background: var(--ld-semantic-color-action-fill-transparent, #00000000);
  color: var(--ld-semantic-color-action-text-on-fill-transparent, #2e2f32);
}
.ld-iconbutton-defaultColor:hover, .ld-iconbutton-defaultColor.hover {
  background: var(--ld-semantic-color-action-fill-transparent-hovered, #0000001a);
  color: var(--ld-semantic-color-action-text-on-fill-transparent, #2e2f32);
}
.ld-iconbutton-defaultColor:focus, .ld-iconbutton-defaultColor.focus {
  background: var(--ld-semantic-color-action-fill-transparent-hovered, #0000001a);
  color: var(--ld-semantic-color-action-text-on-fill-transparent, #2e2f32);
}
.ld-iconbutton-defaultColor:active, .ld-iconbutton-defaultColor.active {
  background: var(--ld-semantic-color-action-fill-transparent-pressed, #00000033);
  color: var(--ld-semantic-color-action-text-on-fill-transparent, #2e2f32);
}
.ld-iconbutton-defaultColor:disabled {
  background: var(--ld-semantic-color-action-fill-transparent-disabled, #00000000);
  color: var(--ld-semantic-color-action-text-on-fill-transparent-disabled, #babbbe);
  cursor: default;
}

.ld-iconbutton-white {
  background: var(--ld-semantic-color-action-fill-accent-white, #ffffff00);
  color: var(--ld-semantic-color-action-text-on-fill-accent-white, #ffffff);
}
.ld-iconbutton-white:hover, .ld-iconbutton-white.hover {
  background: var(--ld-semantic-color-action-fill-accent-white-hovered, #ffffff1a);
  color: var(--ld-semantic-color-action-text-on-fill-accent-white, #ffffff);
}
.ld-iconbutton-white:focus, .ld-iconbutton-white.focus {
  background: var(--ld-semantic-color-action-fill-accent-white-hovered, #ffffff1a);
  color: var(--ld-semantic-color-action-text-on-fill-accent-white, #ffffff);
}
.ld-iconbutton-white:active, .ld-iconbutton-white.active {
  background: var(--ld-semantic-color-action-fill-accent-white-pressed, #ffffff33);
  color: var(--ld-semantic-color-action-text-on-fill-accent-white-pressed, #e3e4e5);
}
.ld-iconbutton-white:disabled {
  background: var(--ld-semantic-color-action-fill-accent-white, #ffffff00);
  color: var(--ld-semantic-color-action-text-on-fill-transparent-disabled, #babbbe);
  cursor: default;
}

.ld-iconbutton-round {
  border-radius: 62.5rem;
}

.ld-iconbutton-full {
  border-radius: 0.25rem;
}
